*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}

.container{
    /* elementos del grid */
    display: grid;
    grid-template-columns: 0.7fr repeat(4, 1fr);
    grid-template-rows: 70px 70px 1fr 70px;
    grid-template-areas: 
    "menu menu menu menu menu"
    "lateral filtros filtros filtros filtros"
    "lateral contenido contenido contenido contenido"
    "footer footer footer footer footer ";
    /* reglas css */
    width: 99vw;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.container #cabecera{

    /* elementos en flex para centrar el contenido */
    display: flex;
    justify-content: center;
    align-items: center;

    /* reglas grid y css */
    
    background-color: blue ;
    color: white;

}

.container #filtros{
    grid-area: filtros;
    
    background: #eee;
    line-height: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.container #menu{
    grid-area: menu;
    background-color: lightblue;
    color: rgb(36, 36, 36);
    line-height: 70px;
}

.container #menu ul{
    display: grid;
    grid-template-columns: 1fr 2fr repeat(4,0.5fr);
    list-style: none;
}


.container #menu a{
    text-decoration: none;
    color: rgb(36, 36, 36);
}

.container #contenido{
    grid-area: contenido;
    background: #eee;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem;
    grid-gap: 5px;
}

.container #contenido article{
    background: #ccc;
    border: 1px solid #555;
}

.container #lateral{
    grid-area: lateral;
    background: #eee;
}

.container footer{
    grid-area: footer;
    background: black;
    color: #ccc;
}